<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Everest Books</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <!--New bootstrap command: jumbotron-->
    <div class="jumbotron text-white" style="background-color: rgba(38, 164, 185, 0.69)">
        <h1 class="display-3">Everest Books</h1>
        <p class="lead">The Largest Online Book Store</p>
        <hr class="my-2">
        <p>
            Welcome to Everest Books, the online book store that is even grander (and better) than Amazon
        </p>
        <!--New bootstrap command "popover" to create a little popup box to announce that the newletter isn't available-->
        <p class="lead">
            <a class="btn btn-info btn-lg" data-toggle="popover" title="Newsletter" data-content="The newsletter is not currently available" style="background-color:#F7941E" href="#!" role="button">Join Our Newsletter</a>
        </p>
    </div>

    <div class="row m-1 p-1">
        <!--Introduction to Everest Books-->
        <div id="categories" class="col-3">
            <br /><br />
            Welcome to Everest Books. The greatest and grandest online book store (even bigger than Amazon).
            <vc:navigation-menu />
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!--Script tag for popover functionality-->
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
</body>
</html>
