@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="text-center">
    <h1 class="display-4" style="font:bold">Search For Books</h1>
   
</div>

<!--New bootstrap command alert to give information at the top of the page about covid-->
<div class="alert alert-info text-center" role="alert">
    <strong>Please be advised that due to the Covid-19 pandemic, shipping may be delayed</strong>
</div>

<div>
    <!--Loop through the IQueryable and display information about each of the books.-->
    @foreach (var x in Model.Books)
    {
        <partial name="BookSummary" model="x" />
    }

</div>

<!--Display page numbers-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" 
     page-class="btn" page-class-normal ="btn-outline-dark"
     page-class-selected="btn-info" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-1" ></div>
